{% extends "main-template.html" %} {% block content %}
<div class="row mt-5">
        <div class="col-5">
          <img
            style="
              width: 60%;
              border-radius: 50%;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            "
            src="static/odctor_min1_img.png"
            alt=""
          />
           <img
            style="
              width: 60%;
              margin-left: 40%;
            "
            src="static/odctor_min2_img.png"
            alt=""
          />
        </div>
        <div class="col-7">
          <h1 class="text-center">Малярия</h1>
          <p style="font-size: 19px" class="mt-2">Малярия – распространенное в тропических
                и субтропических странах опасное для жизни
                паразитарное заболевание. По оценкам ВОЗ1
                в
                2020 г. в мире зарегистрирован 241 млн случаев
                заболеваний малярией, среди которых 627 тысяч
                умерших. Ежегодно риску заражения малярией
                подвергается почти половина населения в мире.
                Вероятность заражения тропической малярией
                и развития тяжелой формы болезни значительно
                выше среди младенцев, детей в возрасте до пяти
                лет, беременных женщин, лиц с ВИЧ/СПИД, а также лиц с низким уровнем иммунитета, прибывающих в районы с интенсивной передачей малярии.
                В 2020 г. на Африканском континенте произошло
                95 % всех случаев заболевания малярией и 96 %
                случаев смерти от нее2. Из-за перебоев в борьбе с
                малярией, обусловленной пандемией COVID-19,
                в мире обостряется обстановка по малярии.
                В Российской Федерации в 2021 году зафиксировано 94 случая завозной малярии из-за рубежа (2020 г. – 58 случаев). Смертельные исходы от
                тропической малярии у российских граждан регистрируют ежегодно. В 2021 г. в Российской Федерации зарегистрировано 5 смертельных случаев от завозной тропической малярии из стран Африканского континента (2020 г. – 7 случаев). Причиной
                летальных исходов явилась несвоевременная диагностика малярии из-за схожести отдельных симптомов с новой коронавирусной инфекцией в период пандемии COVID-19, вследствие отсутствия
                настороженности врачей поликлиник и больниц в
                отношении малярии и сбора эпиданамнеза о пребывании в эндемичном по малярии регионе мира.
            </p>
        </div>
<div class="row text-center mt-5">
    <a href="/predict"><button style="font-size: 25px" type="button" class="btn btn-success">Распознать малярию по фотографии клеток крови</button></a>
</div>
{% endblock %}